

body {
    color: var(--main-text-color);
    background-color: var(--bcg-color);
    font-family: 'Roboto', sans-serif, 'Raleway';
}

h1, h2, h3, p {
    margin: 0;
}

ul, input {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}
.container{
    width: var(--width-container);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*#region Хедер */
.page-header {
    border-bottom: 1px solid #ECECEC;
}

.page-header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    width: 145px;

    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    letter-spacing: var(--let-spacing);
}

.page-header__logo {
    animation: logoA 1500ms ease-in-out infinite normal;
}

.page-header__logo--black {
    color: #000000;
}


@keyframes logoA {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item:not(:first-child) {
    margin-left: 50px;
}

.navigation__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color var(--trans-hover);
}

.navigation__link--current::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.navigation__link--current {
    color: var(--accent-color);
}


.navigation__link:hover,
.navigation__link:focus {
    color: var(--accent-color);
}    

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: var(--main-font-size);
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color var(--trans-hover);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}
/*#endregion*/

/*#region Секція Герой*/

.section-hero {
    text-align: center;
    padding: 200px 0;

    background-color: var(--fon-color-header);
    color: var(--bcg-color);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../images/bc-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
    height: 600px;
}

.section-hero__title {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 0;
    border-radius: 4px;
    border: 1px solid transparent;

    color: var(--bcg-color);
    background-color: var(--accent-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transform: scale(1);
    transition: transform var(--trans-hover),
    border var(--trans-hover);
}

.button:hover,
.button:focus {
    transform: scale(1.10);
    border: transparent;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;

    transition: opacity var(--trans-hover),
    visibility  var(--trans-hover);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);

    width: 528px;
    height: 581px;
    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--trans-hover);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    width: 30px;
    height: 30px;
    background-color: var(--bcg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal__icon{
    fill: #000000;
    transition: fill var(--trans-hover);
}

.modal__button:hover .modal__icon,
.modal__button:focus .modal__icon {
    fill: var(--accent-color);
}

/*#region Форма модального вікна - стилі */

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 40px;
}

.modal-form__title {
    width: 448px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: var(--let-spacing);
    color: var(--title-color);
    margin-bottom: 12px;
}

.modal-form__label {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;

    color: var(--main-text-color);

    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.modal-form__label--down {
    margin-bottom: 0;
}

.modal-form__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--title-color);

    transition: fill var(--trans-hover);
}

.modal-form__label:focus-within .modal-form__icon {
    fill: var(--accent-color);
}

.modal-form__input:focus-within,
.modal-form__input:focus-within {
    outline: transparent;
    border-color: #2196F3;
}

.modal-form__input {
    display: block;
    padding-left: 42px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-top: 4px;

    width: 448px;
    height: 40px;
    font-size: var(--main-font-size);
    line-height: 1.14;
    letter-spacing: var(--let-spacing);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--trans-hover);
}

.modal-form__input--comment {
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    height: 120px;
    width: 448px;

    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
}

.modal-form__label--confidentiality {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.modal-form__checkbox {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    background-color: var(--bcg-color);
    border: 2px solid var(--title-color);
    border-radius: 4px;

    transition: background-color var(--trans-hover),
    border-color var(--trans-hover);
}

.modal-form__input--confidentiality:checked + .modal-form__checkbox {
    background-color: var(--accent-color);
    border-color: transparent;
    background-image: url('../images/icons/icon-checktry.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.modal-form__text {
    font-size: var(--main-font-size);
    line-height: 1.71;
    letter-spacing: var(--let-spc);
}

.modal-form__link {
    font-size: var(--main-font-size);
    line-height: 1.71;
    letter-spacing: var(--let-spacing);
}

.modal-form__text {
    color: var(--main-text-color);
}

.modal-form__link {
    color: var(--accent-color);
}

.button {
    transition: box-shadow var(--trans-hover);
}

.button:hover,
.button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*#endregion*/

/*#endregion*/





/*#region Секція команда */
.section-team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.section-team__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section-team__item {
    margin-right: 30px;
}

.section-team__item:last-child {
    margin-right: 0;
}

.section-team__box {
    padding-bottom: 30px;
    border: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team__img {
    margin-bottom: 30px;
}

.section-team__subtitle {
    margin: 0 auto;
    margin-bottom: 10px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: var(--let-spacing);
}

.section-team__position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--let-spacing);
}

.social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}

.social-networks__item:not(:last-child) {
    margin-right: 10px;
}

.social-networks__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--icon-color);
    background-color: var(--bcg-color);

    transition: color var(--trans-hover),
    background-color var(--trans-hover);
}

.social-networks__icon {
    fill: currentColor; 
} 

.social-networks__link:hover,
.social-networks__link:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*#endregion*/



/*#region Футер */
.page-footer {
    background-color: #2F303A;
}
.page-footer__container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.page-footer__logo {
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
}
.page-footer__logo--white {
    color: var(--bcg-color);
}

.footer-address__location {
    margin-bottom: 9px;

    color: var(--bcg-color);
    font-style: normal;
    font-size: var(--main-font-size);
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spacing);
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__link {
    display: block;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: var(--main-font-size);
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spacing);

    transition: color var(--trans-hover);
}

.footer-address__link:hover,
.footer-address__link:focus {
    color: var(--bcg-color);
}

.footer-social-networks {
    margin-left: 70px;
}

.footer-social-networks__title {
    margin-bottom: 20px;
    width: 145px;
    color: var(--bcg-color);
    font-size: var(--main-font-size);
    line-height: 1.14;
    letter-spacing: var(--let-spacing);
}

.social-networks--block {
    padding: 0;
}

.social-networks__link--colors {
    color: var(--bcg-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--trans-hover);
}

.social-networks__link--colors:hover,
.social-networks__link--colors:focus {
    background-color: var(--accent-color);
}

.social-networks__icon {
    fill: currentColor;
}

/*#region Форма підписки  */
.footer-form {
    margin-left: auto;
}

.subscription-form__title {
    display: block;
    margin-bottom: 20px;

    color: var(--bcg-color);
    font-size: var(--main-font-size);
    line-height: 1.14;
    letter-spacing: var(--let-spacing);
    text-transform: uppercase;
}

.subscription-form__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-form__label {
    position: relative;

    display: block;
    margin-right: 12px;
}

.subscription-form__text {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: var(--let-spacing);
    transition: transform var(--trans-hover);
}

.subscription-form__label:focus-within .subscription-form__text--up {
    transform: translateY(-45px);
}

.subscription-form__input:not(:placeholder-shown) + .subscription-form__text--up {
    transform: translateY(-45px);
}

.subscription-form__input {
    display: inline-block;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin: 0;
  
    background-color: transparent;
    color: var(--bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.button__icon {
    fill: var(--bcg-color);
}

.button__icon--end {
    margin-left: 10px;
}


/*#endregion*/

/*#endregion*/



