:root
{--main-text-color: #757575;
--accent-color: #2196F3;
--title-color: #212121;
--bcg-color: #FFFFFF;
--fon-color-hero: #C4C4C4;
--icon-color: #AFB1B8;
--let-spc: 0.03em;
--trans-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--main-text-color);
    background-color: var(--bcg-color);
    font-family: 'Roboto', sans-serif, 'Raleway';
}

h1, h2, h3, p {
    margin: 0;
}

ul, input {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.item {
    list-style: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/*#region Хедер */
.header-page {
    border-bottom: 1px solid #ECECEC;
}

.container-menu {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    width: 145px;

    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-align: left;
    letter-spacing: var(--let-spc);
}

.logo-navigation {
    animation: logoA 1500ms ease-in-out infinite normal;
}

@keyframes logoA {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
    
}

.logo-nav-word {
    color: #000000;
}

.logo-word {
    color: var(--bcg-color);
}

.menu-nav{
    display: flex;
    align-items: center;
}

.menu-nav > .item-nav:not(:first-child) {
    margin-left: 50px;
}

.menu-nav .link-navigation {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color var(--trans-hover);
}

.link-navigation.current::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.menu-nav .current {
    color: var(--accent-color);
}


.link-navigation:hover,
.link-navigation:focus {
    color: var(--accent-color);
}    

.menu-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.item-contact:not(:last-child) {
    margin-right: 50px;
}

.link-hedcontacts {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.02em;

    transition: color var(--trans-hover);
}

.link-hedcontacts:hover,
.link-hedcontacts:focus {
    color: var(--accent-color);
}

.link-hedcontacts>.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}
/*#endregion*/

/*#region Секція Герой*/

.hero {
    text-align: center;
    padding: 200px 0;

    background-color: var(--fon-color-header);
    color: var(--bcg-color);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    url("../images/bc-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
    height: 600px;
}

.title-hero {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.btn-hero {
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid #000000;

    color: var(--bcg-color);
    background-color: var(--accent-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transform: scale(1);
    transition: transform var(--trans-hover),
    border var(--trans-hover);
}

.btn-hero:hover,
.btn-hero:focus {
    transform: scale(1.10);
    border: transparent;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;

    transition: opacity var(--trans-hover),
    visibility  var(--trans-hover);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);

    width: 528px;
    height: 581px;
    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--trans-hover);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    width: 30px;
    height: 30px;
    background-color: var(--bcg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal-btn .modal-icon{
    fill: #000000;
    transition: fill var(--trans-hover);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--accent-color);
}

/*#region Форма модального вікна - стилі */

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;
    padding: 40px;
}

.form-title {
    width: 448px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: var(--let-spc);
    color: var(--title-color);
    margin-bottom: 12px;
}

.lbl-form {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: 100%;

    color: var(--main-text-color);

    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.icon-form {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: var(--title-color);

    transition: fill var(--trans-hover);
}

.lbl-form:focus-within .icon-form {
    fill: var(--accent-color);
}

.user-info:focus-within,
.user-coment:focus-within {
    outline: transparent;
    border-color: #2196F3;
}

.user-info {
    display: block;
    padding-left: 42px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin-top: 4px;

    width: 448px;
    height: 40px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--let-spc);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--trans-hover);
}

.label-coments {
    margin-bottom: 0;
}

.user-coment {
    display: block;
    padding: 12px 16px;
    margin-top: 4px;
    margin-bottom: 20px;
    height: 120px;
    width: 448px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
 
    transition: border-color var(--trans-hover);
}

.lbl-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    height: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.checkbox {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    background-color: var(--bcg-color);
    border: 2px solid var(--title-color);
    border-radius: 4px;

    transition: background-color var(--trans-hover),
    border-color var(--trans-hover);
}

.polisy:checked + .checkbox {
    background-color: var(--accent-color);
    border-color: transparent;
    background-image: url('../images/icons/icon-checktry.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.text-policy,
.link-policy {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: var(--let-spc);
}

.text-policy {
    color: var(--main-text-color);
}

.link-policy {
    color: var(--accent-color);
}

.btn-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;

    color: var(--bcg-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 00.06em;
    text-align: center;

    cursor: pointer;
    background-color: var(--accent-color);
    border-color: transparent;
    border-radius: 4px;
    transition: box-shadow 2s ease-in-out;
}

.btn-form:hover,
.btn-form:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*#endregion*/

/*#endregion*/

/*#region Секція Переваги */

.benefits {
    padding: 94px 0;
}

.list-benefits {
    display: flex;
    align-items: center;
    margin-right: -30px;
}

.item-benefits {
    width: calc((100% - 4 * 30px) / 4);
    margin-right: 30px;
}

.item-benefits:last-child {
    margin-right: 0;
}

.box-bnicon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: #F5F4FA;
    border-radius: 4px;
}

.title-benefits {
    margin-bottom: 10px;

    color: var(--title-color);
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: var(--let-spc);
}

.text-benefits{
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spc);
}
/*#endregion*/

/*#region Секція фото-робіт */

.work {
    padding-top: 0;
    padding-bottom: 94px;
}

.title-work {
    min-width: 376px;
}

.list-work {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item-work {
    margin-right: 30px;
}

.item-work:last-child {
    margin-right: 0;
}

.title-work,
.title-our-team,
.title-clients {
    margin: 0 auto;
    margin-bottom: 50px;

    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: var(--let-spc);
}

.thumb {
    position: relative;
}

.work-name {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--let-spc);
    color: var(--bcg-color);
    background-color: rgba(47, 48, 58, 0.8);
}
/*#endregion*/

/*#region Секція команда */
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.title-our-team {
    min-width: 264px;
}

.list-team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item-team {
    margin-right: 30px;
}

.item-team:last-child {
    margin-right: 0;
}

.our-team {
    padding-bottom: 30px;
    border: 1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    background-color: var(--bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.photo-team {
    margin-bottom: 30px;
}

.team-title {
    margin: 0 auto;
    margin-bottom: 10px;

    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: var(--let-spc);
}

.position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: var(--let-spc);
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: var(--icon-color);
    background-color: var(--bcg-color);

    transition: color var(--trans-hover),
    background-color var(--trans-hover);
}

.soc-icon {
    fill: currentColor; 
} 

.link-icon:hover,
.link-icon:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

/*#endregion*/

/*#region Секція Клієнти */
.clients {
    padding: 94px 0;
}

.title-clients {
    min-width: 390px;
}

.list-clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-clients:not(:last-child) {
    margin-right: 30px;
}

.link-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
   
    
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: border-color var(--trans-hover),
    color var(--trans-hover);
}

.link-clients:hover,
.link-clients:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.link-clients>.clients-icon {
    fill: currentColor;
}

/*#endregion*/

/*#region Футер */
.footer-page {
    background-color: #2F303A;
}
.ftr-page {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.ftr-logo {
    padding: 0;
    margin-right: 0;
    margin-bottom: 20px;
}

.location {
    margin-bottom: 9px;

    color: var(--bcg-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spc);
}

.ftr-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address .link-contacts {
    display: block;
    padding: 0;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    letter-spacing: var(--let-spc);

    transition: color var(--trans-hover);
}

.footer-address .link-contacts:hover,
.footer-address .link-contacts:focus {
    color: var(--bcg-color);
}

.ftr-social-links {
    margin-left: 70px;
}

.ftr-title {
    margin-bottom: 20px;
    width: 145px;
    color: var(--bcg-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--let-spc);
}

.ftr-social-links>.social-icon {
    padding: 0;
}

.ftr-social-links .link-icon {
    color: var(--bcg-color);
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--trans-hover);
}

.ftr-social-links .link-icon:hover,
.ftr-social-links .link-icon:focus {
    background-color: var(--accent-color);
}

.soc-icon {
    fill: currentColor;
}

/*#region Форма підписки  */
.footer-form {
    margin-left: auto;
}

.subscription-title {
    display: block;
    margin-bottom: 20px;
    width: 219px;

    color: var(--bcg-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--let-spc);
    text-transform: uppercase;
}

.ftr-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscription-label {
    position: relative;

    display: block;
    margin-right: 12px;
}

.sub-label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: var(--let-spc);
    transition: transform var(--trans-hover);
}

.subscription-label:focus-within > .sub-label {
    transform: translateY(-45px);
}

.subscription-field:not(:placeholder-shown) + .sub-label{
    transform: translateY(-45px);
}

.subscription-field {
    display: inline-block;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin: 0;
  
    background-color: transparent;
    color: var(--bcg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.btn-subscription {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 50px;
    padding: 0;
    cursor: pointer;

    color: var(--bcg-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    
    border: 1px;
    border-color: transparent;
    border-radius: 4px;

    transform: scale(1);
    transition: transform var(--trans-hover),
    box-shadow var(--trans-hover);
}

.subscription-text {
    margin-right: 10px;
}

.sub-icon {
    fill: var(--bcg-color);
}

.btn-subscription:hover,
.btn-subscription:focus {
    transform: scale(1.10);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*#endregion*/

/*#endregion*/

/* СТОРІНКА ПОРТФОЛІО*/ 

/*#region Фільтр Галереї - кнопки*/

.gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.item-filter:not(:last-child) {
    margin-right: 8px;
}

.btn-filter {
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;

    color: var(--title-color);
    background-color: #F5F4FA;
    box-shadow: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: var(--let-spc);

    transition: color var(--trans-hover),
    background-color var(--trans-hover),
    box-shadow var(--trans-hover);
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--bcg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-active {
    color: var(--bcg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*#endregion*/

/*#region Карточки робіт Портфоліо */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.list-portfolio {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.item-portfolio {
    width: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    box-shadow: none;

    transition: box-shadow var(--trans-hover);
}

.item-portfolio:nth-child(3n) {
    margin-right: 0;
}

.item-portfolio:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-link {
    text-decoration: none;
}

.item-portfolio:hover,
.item-portfolio:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

    /* #region Оверлей на карточки Портфоліо*/

.thumb-card {
    position: relative;
    overflow: hidden;
}

.thumb-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    opacity: 0;
    transition: transform var(--trans-hover),
    opacity var(--trans-hover);
}

.card-desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 322px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: var(--let-spc);
    color: var(--bcg-color);
}

.item-portfolio:hover .thumb-overlay,
.item-portfolio:focus .thumb-overlay {
    opacity: 1;
    transform: translateY(0);
}
   /*#endregion*/


.card-description {
    padding: 20px 24px;
}

.title-project {
    margin-bottom: 4px;

    color: var(--title-color);
    font-size: 18px;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.06em;

    transition: color var(--trans-hover);
}

.title-project:hover,
.title-project:focus {
    color: var(--accent-color);
}
.work-card {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.88;
    text-align: left;
    letter-spacing: var(--let-spc);
}
/*#endregion*/
